#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: black;
}
.tab {
  display: inline-block;
  margin-left: 75px;
}

.icons {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

ul {
  list-style: none;
  margin: 25 50 75 20;
}

.main-list li {
padding: 25px;
border-bottom: 3px white;
font-size: larger
}

.whole-page {
  padding: 50px;
  text-align: center;
  background-color: black;
  color:white;
}

.sideNav {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #232323;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;

}
  